{% extends 'base.html.twig' %}

{% block body %}
    <turbo-frame id="main-content">
        <div class="bg-white shadow-md rounded-md overflow-hidden w-7xl mx-auto mt-16" id="user-list">
            <div class="bg-gray-100 py-2 px-4 text-center">
                <h3 class="text-3xl mb-2">Type "<span class="font-bold">!play</span>" to join the game !</h3>
                <h2 class="text-4xl font-semibold text-gray-800">Racers</h2>
            </div>
            <ul class="divide-y divide-gray-200" id="user-list-items"></ul>
            <div class="text-right mt-8 p-8">
                <form id="fillingrace"  action="{{ path('race') }}" method="POST">
                    <input id="racers" type="hidden" name="racers" />
                </form>
                <button id="create-game" class="btn-cartoon border-gray-100">Create Game</button>
            </div>
        </div>
    </turbo-frame>
    <script>
        $(document).ready(function() {
            let userList = [];
            let btn = document.getElementById("create-game");
            let form = document.getElementById("fillingrace");
            let racers = document.getElementById("racers");
            const channel = '{{ user.login }}';
            const accessToken = '{{ access_token }}';
            const clientId = '{{ client_id }}';

            const socket = new WebSocket('wss://irc-ws.chat.twitch.tv:443');

            socket.onopen = function() {
                socket.send('PASS oauth:' + accessToken);
                socket.send('NICK justinfan' + Math.floor(Math.random() * 10000));
                socket.send('JOIN #' + channel);
            };

            socket.onmessage = function(event) {
                const message = event.data;
                if (message.includes('PRIVMSG')) {
                    const parts = message.split(' ');
                    const user = parts[0].split('!')[0].substring(1);
                    const text = parts.slice(3).join(' ').substring(1);

                    if (text.trim() === '!play') {
                        $.ajax({
                            url: 'https://api.twitch.tv/helix/users',
                            headers: {
                                'Authorization': 'Bearer ' + accessToken,
                                'Client-Id': clientId
                            },
                            data: {
                                login: user
                            },
                            success: function(response) {
                                const displayName = response.data[0].display_name;
                                const profileImage = response.data[0].profile_image_url;
                                const $userListItems = $('#user-list-items');
                                const $existingItem = $userListItems.find('li:contains(' + displayName + ')');

                                if ($existingItem.length === 0) {
                                    $userListItems.append(
                                        '<li class="player flex justify-center items-center py-4 px-6">'+
                                        '<div><img class="w-20 h-20 rounded-full object-cover mr-4" src="'+profileImage+'" alt="User avatar"></div>'+
                                          '<div>'+
                                                '<h4 class="text-xl font-medium text-gray-800">'+displayName+'</h4>'+
                                            '</div>'+
                                        '</li>');

                                    userList.push(displayName);
                                    racers.value = JSON.stringify(userList);
                                }
                            }
                        });
                    }
                }
            };

            // Adding event listener to button
            btn.addEventListener("click", () => {
               form.submit();
            });


        });
    </script>
{% endblock %}